#Contact {
    background-image: url(../assets/Reflection.jpg);
    background-attachment: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}
 
.label, h2{
    color: lightblue;
}



